@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --font-public: 'Public Sans', sans-serif;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
  position: relative;
  transition: background 0.5s;
}

.nav-toggle {
  visibility: visible;
  transition: visible 0.5s ease;
}

.color {
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

@media screen and (min-width: 768px) {
  .select:hover::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #31d35c;
    display: block;
    transform: translateY(650%);
  }
}
